<header>
  <nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><h1>Bentica</h1></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="nav navbar-nav ms-auto">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="/products?limit=6&page=1"
            >Products</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="/current"
            >Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/cart"><i
                class="material-icons"
              >shopping_cart</i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<h1>Carrito</h1>
<div id="cart" class="cart">
</div>
<div id="button"></div>
{{! <button id="clearCartButton">Vaciar carrito</button>
<button id="purchaseButton">Realizar compra</button> }}

<script src="/Js/cart.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"
></script>