<div>
    <h1>Todos los productos</h1>

    {{#each products}}

    <div>
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <p>{{price}}</p>
        <p>{{stock}}</p>
    </div>

    {{/each}}

</div>