<div>
    <h1>Todos los productos</h1>
    <div id="productos">
    {{#each products}}

    <div>
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <p>{{price}}</p>
        <p>{{stock}}</p>
    </div>
    </div>

    {{/each}}
    <p id='hh' ></p>

</div>