<h1>Loguin</h1>
<h3>ingrese sus datos para seguir navegando o cree una cuenta</h3>
<div>
    <form action="/login" method="post">
        <input type="email" name="email" placeholder="Email"/>
        <input type="password" name="password" placeholder="Password"/>
        <button type="submit">Iniciar sesion</button>
    </form>
</div>
<br>
<div>
    <a href="/api/sessions/github"><button>Entrar con Gitgub</button></a>
</div>
<br><br>
<a href="/register">
        <button>Cree una cuenta</button>
    </a>

