<div class="container">
    <aside class="items">
        <h1>Todos los productosss</h1>
        <div id="hh" class = 'cards'>
        {{#each products}}

        <div class="card">
            <h3>{{Title}}</h3>
            <p>{{Description}}</p>
            <p>Price: ${{Price}}</p>
            <p>Stock: {{Stock}}</p>
        </div>

        {{/each}}
        </div>
        
    </aside>
    <div class="forms">
        <form action="/products" method="POST" class="form1">
            <h2>Ingresar productos</h2>
            <div>
                <label for="Title">Title</label>
                <input type="text" name="Title" id="Title" required>
            </div>
            <div>
                <label for="Description">Desciption</label>
                <input type="text" name="Description" id="Description" >
            </div>
            <div>
                <label for="Price">Price</label>
                <input type="number" name="Price" id="Price" >
            </div>
            <div>
                <label for="Stock">Stock</label>
                <input type="number" name="Stock" id="Stock" >
            </div>
            <div>
                <label for="Thumbnail">thumbnail</label>
                <input type="text" name="Thumbnail" id="Thumbnail" >
            </div>
            <div>
                <label for="Code">Code</label>
                <input type="number" name="Code" id="Code" >
            </div>
            <div>
                <label for="Category">Category</label>
                <input type="text" name="Category" id="Category" >
            </div>
            <button type="submit">enviar</button>
        </form>
        
    </div>
</div>

