.d-flex {
    gap: 20px;
  }
.alert {
  position: relative;
  color: red !important;
  padding: 0;
}

.contador {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.counter {
  width: 2em;
}