.d-flex {
  gap: 20px;
}
.alert {
  position: relative;
  color: red !important;
  padding: 0;
}

.contador {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.counter {
  width: 2em;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.pd {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: antiquewhite;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.user {
  text-align: right;
  padding-right: 10px;
  color: white;
}
